<h1>See a need, fill a need!</h1>

<% if(!username) { %>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username...">
    <input type="submit" value="Login">
</form>
<% } else { %>

    <h2><b>Does fortune favour <%= username %> on this day?</b></h2>

    <% console.log( username + " already logged in"); %>

<% } %>