<h1>See a need, fill a need!</h1>

<% if(!user) { %>
<form method="GET" action="/login">
    <button>
        Login
    </button>
</form>
<form method="GET" action="/register">
    <button>
        Register
    </button>
</form>
<% } else { %>

    <h2>Does fortune favour <%= user %> on this day?</h2>

    <form method="POST" action="/logout">
        <button>
            <b>Logout</b>
        </button>
    </form>

<% } %>