<!-- views/partials/header.ejs -->
<nav class="navbar-brand" href="#">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

        EJS is fun!!!!!!!!!!!!!!!!!

      </a>
    </div>
  </div>
</nav>