<!doctype html>

<html >
    <head>
    </head>

    <body>
        <h1>Registration:</h1>
        <form method="POST" action="/registration">
            <label><b>Email:</b></label><input type="email" name="email" placeholder="Email..."><br>
            <label><b>Password:</b></label><input type="password" name="password" placeholder="Password...">
            <h2> </h2>
            <button>
                Confirm
            </button>
        </form>
    </body>

</html>
