<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include ../partials/_header %>
    </header>

    <h1>Your shortened URL:</h1>
    <ul> 
           
    <li>
        <%= shortURL %> - <%= longURL %>
      
    </li>
    <a href="/urls">Home</a>
    <form action="/urls/<%= shortURL %>/edit" method="POST" style="margin:150px;">
        <label for="longURL">Edit URL:</label>
        <input id="longURL" value="<%= longURL %>" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
            
</ul>
</body>
</html>